.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Question {
  font-size: calc(10px + 2vmin);
  color: #cccccc;
}

.Answer {
  font-size: calc(13px + 2vmin);
  color: #999999;
}

.Done {
  font-size: calc(13px + 2vmin);
  color: white;
}
